
@use '../abstracts/variables';

.player-bar {
  grid-area: player;
  background: variables.$bg-light;
  border-top: 1px solid #282828;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  overflow: hidden;
}

.now-playing ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  li:hover { transform: scale(0.95); }
}
