@use '../abstracts/mixins';
@use '../abstracts/variables';
$track-grid: 40px 2fr 2fr 10px 1fr 3.5fr;
.liked-select {
  .liked-nav {
    display: flex;
    align-items: center;      // vertically center icons/text
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    color: gray;      

    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 16px;   
    }

    li:first-child {
      margin-right: auto;     
    }
    li:nth-child(2) {
      margin-left: 12px; // spacing from first right item
    }


    li:nth-child(4) {
      margin-left: 28px;
    }

    li:nth-child(5) {
      margin-left: 28px;
    }
    li:nth-child(6){
        margin-left: 28px;
    }

  }
}
.liked-top-bar {
  .liked-list {
    display: grid;
    grid-template-columns: $track-grid;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #2a2a2a;
    font-size: 2rem;
    color: rgb(95, 95, 95);
  }
}
.song-list {
  list-style: none;
  counter-reset: track;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    counter-increment: track;
    display: grid;
    grid-template-columns: $track-grid;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;

    &::before {
      content: counter(track);
      color: gray;
      text-align: center;
    }

    &:hover {
      background: #141414;
      border-radius: 6px;
    }
  }
}
.song-info {
  display: flex;
  align-items: center;
  gap: 2rem;

  img {
    width: 5rem;
    height: 5rem;
  }

  .title {
    margin: 0;
    font-size: 2rem;
  }

  .artist {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: rgb(95, 95, 95);
  }
}
.album {
  font-size: 2rem;
  color: rgb(95, 95, 95);
}

.duration {
  text-align: left;
  font-size: 2rem;
  color: rgb(95, 95, 95);
}

.like {
  width: 5rem;
  height: 5rem;
  justify-self: center;
  cursor: default;
  
}
.liked-cards{
  width: 100%;
  margin: 0 auto;
  align-items: left;
}