$bg-black: #000000;
$bg-dark: #121212;
$bg-light: #181818;
$text-main: #ffffff;
$text-muted: #b3b3b3;
$spotify-green: #1db954;
$nav-button-bg:#20202080;
$nav-button-bg-hover:#E0E0E0;
$cards-title:#E0E0E0;
$cards-title-color:#E0E0E0;
$border-color:#202020;
$player-bar:#333842;
