@use '../abstracts/variables';

.spotify-container {
  display: grid;
  grid-template-areas: "sidebar main" ". player";
  grid-template-columns: 260px 1fr;
  grid-template-rows: 1fr 90px;
  height: 100vh;
}

.main-content {
  grid-area: main;
  background: linear-gradient(to bottom, #000, variables.$bg-black);
  overflow-y: auto;
  padding: 20px;
  border: 1px solid variables.$border-color;

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    
  }
}

.grid-section{
  position: relative;
}

.grid-section .made-for-you-action{
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
      }
  }
